/* FONTS *****************************************/

@font-face {
  font-family: Allan;
  src:url(fonts/Allan/Allan-Bold.ttf);
}

@font-face {
  font-family: Allan2;
  src:url(fonts/Allan/Allan-Regular.ttf);
}

@font-face {
  font-family: Cinzel;
  src:url(fonts/Cinzel/static/Cinzel-Black.ttf);
}

@font-face {
  font-family: Courgette;
  src:url(fonts/Courgette/Courgette-Regular.ttf);
}

/**********************************************/

body{
  display: flex;
  justify-content: center;
  background:
  radial-gradient(circle at 100% 50%, transparent 20%, #bc8deb 21%, #bc8deb 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, #bc8deb 21%, #bc8deb 34%, transparent 35%, transparent) 0 -50px;
  background-color: slategray;
  background-size:75px 100px;
}

h1 {
  font-family: Courgette;
}

#container{
  position: relative;
  top: 100px;
  width:  500px;
  justify-content: center;
}

#ili{
  text-align: center;
  justify-content: center;
  margin: 80px;
  font-family: Cinzel;
  font-size: 30px;
}

#hello {
  text-align: center;
  justify-content: center;
  font-family: Allan;
  font-size: 30px;
}

#hero-image{
  display: flex;
  justify-content: center;
}

#hero-image img{
  width: 250px;
  height: 250px;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


#slider2 {
  overflow: hidden;
}
#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

#slider2 figure img {
  width: 20%;
  float: left;
}

@keyframes slider2 {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
#content-box{
background: #ffff;
padding: 20px;
margin-bottom: 15px;
border-style: dashed;
border-color: #99ddff
border-shadow: 6px 6px 6px 3px rgba(0, 0, .05);
font-family: Allan2;
}

ul {
	position: relative;
  margin-bottom: 22px;
  list-style-type: none;
  padding: 13px;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  background: #d9b3ff;
  padding: 17px;
  height: 12px;
  margin: 20px;
  font-family: Courgette;
}

a:hover{
  background: pink;
}
