/* FONTS*********************************/

@font-face {
font-family: Cinzel;
src: url(fonts/Cinzel/Cinzel-Black.ttf);
}

@font-face {
font-family: Courgette;
src: url(fonts/Courgette/Courgette-Regular.ttf);
}

@font-face {
font-family: Allan;
src: url(fonts/Allan/Allan-Bold.ttf);
}

/************************************/

body{
  display: flex;
  justify-content: center;
  background-color:#bc8deb;
background-image:
radial-gradient(circle at 100% 150%, #bc8deb 24%, white 24%, white 28%, #bc8deb 28%, #bc8deb 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #bc8deb 24%, white 24%, white 28%, #bc8deb 28%, #bc8deb 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, #bc8deb 10%, #bc8deb 23%, #bc8deb 23%, white 30%, #bc8deb 30%, #bc8deb 43%, white 43%, white 50%, #bc8deb 50%, #bc8deb 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, #bc8deb 5%, #bc8deb 15%, white 15%, white 20%, #bc8deb 20%, #bc8deb 29%, white 29%, white 34%, #bc8deb 34%, #bc8deb 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, #bc8deb 5%, #bc8deb 15%, white 15%, white 20%, #bc8deb 20%, #bc8deb 29%, white 29%, white 34%, #bc8deb 34%, #bc8deb 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px;;
}

#container{
  position: relative;
  top: 100px;
  width:  500px;
  justify-content: center;
}

#hero-image{
  display: flex;
  justify-content: center;
}

#hero-image img{
  width: 250px;
  height: 250px;
}

#ili.stration{
  font-family: Allan;
  background: blue;
  text-align: center;
  justify-content: center;
  margin: 40px;
  text-size: 90px;
}

#content-box{
font-family: Cinzel;
background: #fff;
padding: 15px;
margin-bottom: 15px;
border-style: dashed;
border-color: #99ddff
}

ul {
	position: relative;
  margin-bottom: 12px;
  list-style-type: none;
  padding: 13px;
  display: flex;
  justify-content: left;
}

a{
  text-decoration: none;
  background: #d9b3ff;
  padding: 17px;
  height: 12px;
}

a:hover{
  background: pink;
}
