/* FONTS**********/
@font-face {
font-family: Cinzel;
src: url (fonts/ Cinzel/ Cinzel-Black.ttf);
}

@font-face {
font-family: Courgette;
src: url (fonts/ Courgette/ Courgette-Regular.ttf);
}

@font-face {
font-family: Allan;
src: url (fonts/ Allan/ Allan-Regular.ttf);
}

/***********/
#ili.stration{
  font-family: Cinzel;
  text-align: center;
  justify-content: center;
  text-size: 90px;
}

body{
  display: flex;
  justify-content: center;
  background: #d9b3ff;
}

#container{
  position: relative;
  top: 100px;
  width:  500px;
  justify-content: center;
}
#content-box{
font-family: Courgette;
background: #fff;
padding: 15px;
margin-bottom: 15px;
border-style: dashed;
border-color: #99ddff
}

ul {
	position: relative;
  margin-bottom: 12px;
  list-style-type: none;
  padding: 13px;
  display: flex;
  justify-content: left;
}

a{
  text-decoration: none;
  background: #d9b3ff;
  padding: 17px;
  height: 12px;
}

a:hover{
  background: pink;
}
